body,
html {
    padding: 0;
    margin: 0;
    color: #fff;
}
body {
    background: linear-gradient(#1d2b64, #f8cdda);
    min-height: calc(100vh);
}
.score-info {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.history-info {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.start-btn {
    width: 80px;
    text-align: center;
    padding: 12px;
    margin: 20px auto 0;
    background-color: #ed5a65;
    border-radius: 12px;
    color: #fff;
}
.content {
    width: 89vw;
    height: 89vw;
    background-color: #f1939c;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 4px 1px #533c1b;
}
.content div {
    background-color: #fff;
    width: 17vw;
    height: 17vw;
    line-height: 17vw;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 0 8px 0 #482936;
    border-radius: 8px;
    transition: all 0.3s;
}
.game-item-1 {
    position: absolute;
    top: 0;
    left: 0;
}
.game-item-2 {
    position: absolute;
    top: 0;
    left: 18vw;
}

.game-item-3 {
    position: absolute;
    top: 0;
    left: 36vw;
}

.game-item-4 {
    position: absolute;
    top: 0;
    left: 54vw;
}
.game-item-5 {
    position: absolute;
    top: 0;
    left: 72vw;
}

.game-item-5 {
    position: absolute;
    top: 0;
    left: 72vw;
}

.game-item-6 {
    position: absolute;
    top: 18vw;
    left: 0vw;
}

.game-item-7 {
    position: absolute;
    top: 18vw;
    left: 18vw;
}

.game-item-8 {
    position: absolute;
    top: 18vw;
    left: 36vw;
}

.game-item-9 {
    position: absolute;
    top: 18vw;
    left: 54vw;
}

.game-item-10 {
    position: absolute;
    top: 18vw;
    left: 72vw;
}

.game-item-11 {
    position: absolute;
    top: 36vw;
    left: 0vw;
}

.game-item-12 {
    position: absolute;
    top: 36vw;
    left: 18vw;
}

.game-item-13 {
    position: absolute;
    top: 36vw;
    left: 36vw;
}

.game-item-14 {
    position: absolute;
    top: 36vw;
    left: 54vw;
}

.game-item-15 {
    position: absolute;
    top: 36vw;
    left: 72vw;
}

.game-item-16 {
    position: absolute;
    top: 54vw;
    left: 0vw;
}

.game-item-17 {
    position: absolute;
    top: 54vw;
    left: 18vw;
}

.game-item-18 {
    position: absolute;
    top: 54vw;
    left: 36vw;
}

.game-item-19 {
    position: absolute;
    top: 54vw;
    left: 54vw;
}

.game-item-20 {
    position: absolute;
    top: 54vw;
    left: 72vw;
}

.game-item-21 {
    position: absolute;
    top: 72vw;
    left: 0vw;
}

.game-item-22 {
    position: absolute;
    top: 72vw;
    left: 18vw;
}

.game-item-23 {
    position: absolute;
    top: 72vw;
    left: 36vw;
}

.game-item-24 {
    position: absolute;
    top: 72vw;
    left: 54vw;
}

.game-item-25 {
    position: absolute;
    top: 72vw;
    left: 72vw;
}
